@import "../libs/variables";
@import "../libs/functions";
@import "../libs/mixins";

header {
    display: flex;
    background: map-get($palette, bg-alt);
    color: map-get($palette, fg-bold);
    padding: 2em;
    justify-content: space-around;
    border-radius: 3px 3px 0 0;
    flex-direction: column;

    @media (min-width:768px) {
        flex-direction: row;
    }
}
.schott-logo {
    float: left;
    margin-top: -20px;
    color: #000;
    @include transition-vendor(border .10s ease-in-out);
    transition: border .10s ease-in-out;
}
.logo {
    border: white 1px solid;
    border-radius: 3px;
    background: rgba(white, .1);
    padding: 0 10px;
    color: white;
    line-height: 2.5;
    flex-grow: 1;
    flex-shrink: 1;
    font-size: 2em;
    flex-direction: column;
    order:1;
    }

.search {

    border: white 1px solid;
    border-radius: 3px;
    background: rgba(white, .1);
    flex-grow: 1;
    flex-shrink: 1;
    order:2;
}
