@import "../mediaqueries";
@import "../libs/variables";

nav {
   
    background: map-get($palette, footer);
     order: -1;
  padding: 1em;
  border-radius: 3px;
  height:100%;
    
}

@media (min-width:768px) {
    nav{
      flex: 1 0 12em; 
      height:100%;
  }
    }

