@import "../mediaqueries";
@import "../libs/variables";
@import "../libs/mixins";

nav {
    background: map-get($palette, black);
    padding: 1em;
    height: 100%;

    ul {
        margin: 0;
        padding: 0;

        li {
            list-style: none;
            padding: 12px 20px;

            a {
                padding: 12px 20px;
                color: #fff;
            }
        }
    }
}

.nlightblue.active {
    border-left: 2px solid #6b59ef;
}

.nlightblue a:hover {
    background: #6b59ef;
    padding: 12px 20px;

    @include transition-vendor(background .25s ease-in-out);
}

.nlightblue a {
    text-decoration: none !important;
}

@media (min-width:768px) {
    nav {
        flex: 1 0 12em;
        height: 100%;
    }
}
