@{
    ViewData["Title"] = "Confirm Email";
}

<h2>@ViewData["Title"].</h2>
<div>
    <p>
        Thank you for confirming your email. Please Click <a href="http://localhost:7001/#/login">here</a> to Log in
    </p>
</div>