@{
    ViewData["Title"] = "Reset password confirmation";
}

<h1>@ViewData["Title"].</h1>
<p>
    Your password has been reset. Please Click <a href="http://localhost:7001/#/login">here</a> to Log in
</p>