<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net" />
  </configSections>
  
  <appSettings>
    <add key="LogPath" value="C:\inetpub\wwwroot\ProdTracker_Logs\" />
    <add key="LogFileSource" value="C:\inetpub\wwwroot\ProdTracker_Logs\log.txt" />
    <add key="vs:EnableBrowserLink" value="true" />
  </appSettings>
  <system.web>
    <httpRuntime requestPathInvalidCharacters="&lt;,&gt;,*,%,&amp;,:,\,?" />
    <customErrors mode="Off" />
    <compilation debug="true"></compilation>
  </system.web>
  <system.net>
    <defaultProxy enabled="true" useDefaultCredentials="true">
      <proxy autoDetect="True" />
    </defaultProxy>
  </system.net>
  
  <system.webServer>
    <modules runAllManagedModulesForAllRequests="true">
      <remove name="WebDAVModule"/>
      <!-- add this -->
    </modules>
    <handlers>
      <remove name="WebDAV" />
      <add name="httpPlatformHandler" path="*" verb="*" modules="httpPlatformHandler" resourceType="Unspecified" />
    </handlers>
    <httpPlatform processPath="%DNX_PATH%" arguments="%DNX_ARGS%" forwardWindowsAuthToken="true" startupTimeLimit="3600" />
  </system.webServer>
</configuration>